/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background: #FFFFFF;
}

.page-header{
    color: #827F7F;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/*Nuevos stilos*/

#wrapper {
    width: 100%;
}
#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

.contenido-principal{
    margin-top: 10px;
}
@media (min-width: 768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    /*border: 1px solid transparent;*/
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

@media (min-width: 768px){
 .navbar {
        border-radius: 4px;
    }
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

@media (min-width: 768px){
    .navbar-static-top {
        border-radius: 0;
    }
}



.navbar-static-top {
    z-index: 1000;
    /*border-width: 0 0 1px;*/
}

@media (min-width: 768px) {
    .navbar-static-top {
        border-radius: 0;
    }
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 4px;
    }
}

@media (min-width: 768px) {
    .navbar-header {
        float: left;
    }
}

.navbar-top-links {
    margin-right: 0;
}
@media (min-width: 768px) {
    .navbar-right {
        float: right !important;
        margin-right: 15px;
    }
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

@media (min-width: 768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 51px;
    }
}
.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

.sidebar .sidebar-search {
    padding: 15px;
}
.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}
.nav>li {
    position: relative;
    display: block;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
}

.navbar-top-links li {
    display: inline-block;
}


/**Filtro de busqueda**/
.filtro{
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding-left: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.filtro-busqueda{
    background: #357ebd;
    margin-left: -20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 0px;
    height: 30px;
    border: 1px solid #dddddd;
    color: #FFFFFF;
    padding-top: 3px;
    margin-bottom: 20px;
}

.filtro-busqueda span{
    margin-left: 20px;
}
.group-botones{
    margin-top: 10px;
    margin-bottom: -10px;
}

.radio_buttom{
    padding: 40px!important;
}

.sidebar-search .btn{
    width:200px;
    height: 50px;
    font-size: 20px;
    border-radius: 3px;
}