
@{
    ViewBag.Title = "Nuevo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-header">Elaborar informe técnico</h2>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="col-md-2 control-label" for="Codigo">Código:</label>
            <div class="col-md-10">
                <input class="form-control" data-val="true" data-val-required="El campo Nombre de usuario es obligatorio." id="codigo" name="codigo" type="text" value="">
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label class="col-md-2 control-label" for="Codigo">Cliente:</label>
            <div class="col-md-10">
                <select id="cliente" name="cliente" class="form-control">
                    <option>Seleccionar</option>
                    <option>Empresa 1</option>
                    <option>Empresa 2</option>
                    <option>Empresa 3</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label class="col-md-2 control-label" for="Codigo">Contrato:</label>
            <div class="col-md-10">
                <select id="contrato" name="contrato" class="form-control">
                    <option>Seleccionar</option>
                    <option>0001</option>
                    <option>0002</option>
                    <option>0003</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label class="col-md-2 control-label" for="Codigo">Detalle:</label>
            <div class="col-md-10">
                <textarea class="form-control" data-val="true" data-val-required="El campo Nombre de usuario es obligatorio." id="detalle" name="detalle" type="text" value=""></textarea>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label class="col-md-2 control-label" for="Codigo">Observaciones:</label>
            <div class="col-md-10">
                <textarea class="form-control" data-val="true" data-val-required="El campo Nombre de usuario es obligatorio." id="observacion" name="observacion" type="text" value=""></textarea>
            </div>
        </div>
    </div>
</div>


<a class="btn btn-default" id="guardar" href="/informetecnico">Guardar</a>
<a class="btn btn-default" id="aprobar" href="/informetecnico">Aprobar</a>
<a class="btn btn-default" id="rechazar" href="/informetecnico">Rechazar</a>